@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bebas+Neue&family=Dancing+Script&family=Karma&display=swap');


:root{
    --primary-color: #40251A;
    --seconday-color: #43BE7D;
    --accent1-color: #000000;
    --accent2-color: #ffffff;

    --heading-font: 'Bebas Neue', serif;
    --paragraph-font: 'Karma', serif;

    --nav-brackground-color: #40251A;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #43BE7D;
    --nav-hover-background-color: #40251A;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    background-color:var(--primary-color);
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 150px;
}

header img{
    max-width: 100%;
    height: auto;
}

header nav{
    display: flex;
    justify-content: space-around;
    text-align: right;
}

header nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    font-family: var(--heading-font);
    letter-spacing: 1px;
}

header nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

header nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}


p{
    padding: 25px;
}

.history{
    display: flex;
    align-items: center;
}

.history img{
    max-width: 50%;
    margin-right: 20px;
}

.sociallinks{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero h1{
    position: absolute;
    top: 1%;
    left: 0;
    right: 0;
    text-align: center;
    background: radial-gradient(#eee, #ccc);
    border: 1px solid #ccc;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    font-size: 40px;
}

.hero article{
    position: absolute;
    bottom: 25px;
    left: 0;
    background: radial-gradient(#eee, #ccc);
    border: 1px solid #ccc;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    display: flex;
    flex-direction: row-reverse;
    
}

.hero article img{
    width: 150px;
}

.hero article p{
    color: var(--accent1-color);
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;

}

.adventures {
    text-align: center;
  }
  
  .adventure-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
    overflow-x: auto; 
    margin: 20px 0; 
  }
  
  figure {
    text-align: center;
    margin-right: 20px; 
  }
  
  figure img {
    max-width: 100%;
    height: auto;
  }
  
  figure figcaption {
    margin-top: 10px; 
  }
  

main section{
    text-align: center;
}

main section h2{
    font-size: 35px;
    margin-bottom: 0px;
}

footer{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

footer p{
    text-align: center;
    color: var(--accent2-color);
    margin: 0;
}

.sociallinks{
    filter: invert(1);
    margin-right: 20px;
    text-align: right;
}

.sociallinks a{
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}


/*************************Contact Page CSS Code**************************/

.company-info {
    margin-bottom: 30px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.company-info p {
    font-family: var(--paragraph-font);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: var(--nav-brackground-color);
}
  
.company-info {
    flex: 1;
}

.company-info h2{
    color: var(--accent2-color);
}

.company-info a{
    color: var(--nav-link-color);
    &:hover{
        color: var(--nav-hover-link-color);
    }
}
  
.map {
    flex: 1;
}

.employees{
    border-bottom: 1px solid var(--seconday-color);
}

.employees h2{
    text-align: center;
}

.employee-profiles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    
}

.employee-profile{
    width: 300px;
}

.employee-profiles img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.employee-profile p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 25px;
}


/*Form CSS code*/

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height as needed */
    padding-bottom: 30px;
}

.contact-form {
    width: 50%;
}

.contact-form h2{
    padding-top: 30px;
    padding-bottom: 0px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-brackground-color);
    padding: 20px;
    color: var(--accent2-color);
}

.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--accent1-color);
  margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 10px;
    padding: 5px;
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: transparent;
    color: var(--seconday-color);
    border: 2px solid;
    border-color: var(--seconday-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--seconday-color);
    color: var(--accent2-color);
}