*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class Selectors*/

.box{
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

main{
    max-width: 840px;
}

nav{
    background-color: #000;
    padding: 10px;
    text-align: center;
    
}

nav a{
    color: white;
    text-transform: uppercase;
    padding: 5px;
}


h1{
    color: #000;
}

p{
    padding: 0;
}

img{
    width: 150px;
    height: auto;
    border: none;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}


main img{
    width: 150px;
    height: auto;
    float: right;
}

aside{
    width: 20em;
    text-align: center;
    position: relative;
}

aside img{
        width: 200px;
        height: auto;
}

aside h2{
    position: absolute;
    top: 47px;
    left: 150px;
}


footer{
    background: white;
    border-top: 1px solid #000;
    color: #000;
    text-align: center;
    margin-top: 1em;
}