main{
    max-width: 840px;
}

nav{
    background-color: #000;
    padding: 10px;
    text-align: center;
    
}

h1{
    color: #000;
}

img{
    width: 150px;
    height: auto;
    border: none;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}

nav a{
    color: white;
}

main img{
    width: 150px;
    height: auto;
}

aside{
    width: 100%;
    margin: auto;
    border: 1px solid red;
    padding: 10px;
    text-align: center;
    background: rgb(255,252,0);
    background: linear-gradient(180deg, rgba(255,252,0,1) 0%, rgba(247,0,0,1) 100%);
}

aside img{
        width: 200px;
        height: auto;
}

p{
    padding: 0;
}


footer{
    background: white;
    border-top: 1px solid #000;
    color: #000;
    text-align: center;
    margin-top: 1em;
}